#purpose {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

#purpose .foreground {
  position: absolute;
  display: flex;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  color: white;
  text-align: center;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
  /* justify-content: space-evenly; */
  /* max-width: 56%; */
  /* min-width: 10%; */
}

.tideDataText {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
