<div id="mobileFooter" class="footer mobileOnly_Padding1LR">
  <div id="wrapper" class="margin0LR">
    <div >
      <div class="threeSevenGridMobile footerFishContainer" style="align-items: flex-end !important; justify-content: bottom !important;">
        <img class="mobileFooterLogo" src="/assets/images/logo.svg" alt="Code Blue Logo">
        <img class="footerFish" id="mobileFooterFish" src="/assets/images/fish4.png" alt="Sea Creature">
      </div>
      <div class="vSpacer1"></div>
      <div class="smallShortSerifCopy">Protection and restoration of our blue planet through innovative projects and strategic alliances.</div>
    </div>
    <div class="vSpacer1"></div>
    <div class="footerLinkTitle">QUICK LINKS
      <div class="vertGap0"></div>
      <ul>
        <li>
          <a class="footerLinks" target="_blank" href="/pages/story">About Us</a>
        </li>
        <li>
          <a class="footerLinks" target="_blank" href="/pages/impactMedia" >Impact Media</a>
        </li>
        <li>
          <a class="footerLinks" target="_blank" href="/pages/conservationGrantees" >Conservation Grantees</a>
        </li>
      </ul>
    </div>
    <div class="vertGap2"></div>
    <div class="footerLinkTitle">CONTACT
      <div class="vertGap0"></div>
      <ul>
        <li>
          <a class="footerLinks" href="mailto:bonjour@codebluefoundation.org">
                                        bonjour@codebluefoundation.org</a>
        </li>
        <li>
        <li class="noTextWrapList">
          <div>Code Blue does not accept unsolicited proposals</div>
        </li>
      </li>
    </ul>
  </div>
  <div class="vSpacer1"></div>
  <div class="footerCopyright" class="textAlignLeft">Copyright 2025 Code Blue Foundation. All rights reserved.</div>
  <div class="vSpacer0"></div>
</div>
</div>