<div id="mobileMenu">
  <div class="mobileMenuChild" id="mobileMenuChild0">
    <ul>
      <li>
        <a class="mobileMenuNavLinks" href="/pages/story">About Us</a>
      </li>
      <li>
        <a class="mobileMenuNavLinks" href="/pages/impactMedia" >Impact Media</a>
      </li>
      <li>
        <a class="mobileMenuNavLinks" href="/pages/conservationGrantees" >Conservation Grantees</a>
      </li>
    </ul>
  </div>
  <div class="footerLinkTitle mobileMenuChild" id="mobileMenuChild1">
    <div class="vertGap0"></div>
    <ul>
                  CONTACT
                  <li>
        <a class="footerLinks" href="mailto:bonjour@codebluefoundation.org">
                                        bonjour@codebluefoundation.org</a>
      </li>
      <li>
        <li class="noTextWrapList">
          <div>Code Blue does not accept unsolicited proposals</div>
        </li>
      </li>
    </ul>
    <div class="vertGap1"></div>
  </div>
</div>