<div class="navBar margin0LR">
      <div class="navLogo">
            <a href="/index.html">
                  <img src="/assets/images/logo.svg" alt="Code Blue">
            </a>
      </div>
      <div class="navLinks">
            <div class="navLink">
                  <a href="/pages/impactMedia" >
                        <span class="navTitle">IMPACT MEDIA</span>
                  </a>
            </div>
            <div class="navLink">
                  <a href="/pages/conservationGrantees" >
                        <span class="navTitle">CONSERVATION GRANTEES</span>
                  </a>
            </div>
            <div class="navLink">
                  <a href="/pages/story" >
                        <span class="navTitle">ABOUT</span>
                  </a>
            </div>
      </div>
</div>