<div id="pageLoadingScreen">
      <script type="module" src="https://unpkg.com/@splinetool/viewer@1.9.68/build/spline-viewer.js"></script>
      <div class="pageLoadingScreenContent">
            <div class="spinCTASplash navTitle">
                  <div id="percentLoaded" class="monoSubtitle"></div>
                  <div>
                        <div id="upArrow">
                              <svg width="15" height="9" viewBox="0 0 15 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1 7.5L7.5 1L14 7.5" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                              </svg>
                        </div>
                        <div class="spinningText">Spin</div>
                  </div>
            </div>
            <spline-viewer class="splineViewer" loading="eager" url="https://prod.spline.design/odoegjhObaZER2iN/scene.splinecode"></spline-viewer>
      </div>

      <script>
            const mySplineViewer = document.querySelector('.splineViewer');
            mySplineViewer.addEventListener('load-complete', (e) => {
                  console.log("load-complete");
                  gsap.to(mySplineViewer, {
                        opacity: 1,
                        duration: 1,
                        ease: "power2.inOut"
                  });
            });
      </script>
</div>