{% macro fmpComp(thisPartner) %}
      <div class="carousel">
            <div class="slides">
                  {% for work in thisPartner.works %}
                        <div class="carouselSlide sevenFiveGrid">
                              <div class="slideLeft margin0LR" style="background-image: url({{ work.image.url }}); background-size: cover; background-position: center;"></div>
                              <div class="slideRight padding1LR">
                                    <div class="controls">
                                          <button class="prev"></button>
                                          <button class="next"></button>
                                    </div>
                                    <div class="slideRightContents">
                                          <div class="vertGap0"></div>
                                          <div class="mediaType">{{work.typeOfMedia | upper}}</div>
                                          <div class="vertGap1"></div>
                                          <div class="compSubtitle">{{work.title}}</div>
                                          <div class="vertGap1"></div>
                                          <div class="bodyCopySmaller">{{work.description}}</div>
                                          <div class="vertGap1"></div>
                                    </div>
                                    <div class="vertGap1"></div>
                                    <div>
                                          <button class="ctaButton">
                                                <a target="_blank" href="{{work.ctaButton.link}}" >
                                                      {{work.ctaButton.name | upper}}
                                                </a>
                                          </button>
                                    </div>
                              </div>
                        </div>
                  {% endfor %}
            </div>
      </div>
{% endmacro %}