<div class="centered component">
      <div class="background">
            {# <video src="{{someData.home.video | url}}" autoplay muted loop playsinline></video> #}
      </div>
      <div class="foreground" id="featuredFilmForeground">
            <div id="featuredFilmInfo">
                  <div class="mediaType">FILM</div>
                  <div  class="compSubtitle vertGap0">Deep Rising</div>
            </div>
            <img src="/assets/images/sundance.png">
      </div>
</div>
<div class="bodyCopySmaller">A heart-stopping journey to the most inaccessible part of our planet.</div>
<button class="ctaButton vertGap1">
      <a href="https://deeprising.com/documentary/" target="_blank" >
                    VISIT WEBSITE
                </a>
</button>