{% macro heroImg(imgLink) %}
      <script type="module">
            const img = new Image();
            img.src = "{{ imgLink | url }}";
            img.onload = () => {
                  console.log("img loaded");
                  updateHeroImage(img.width, img.height);
            }

            const updateHeroImage = (_imgWidth, _imgHeight) => {
                  const mediaQuery = window.matchMedia('(max-width: 768px)');
                  if (mediaQuery.matches) {
                        const heroImg = document.querySelector('.mobileHeaderHero');
                        setupOverlayDiv(heroImg);
                  } else {
                        const heroImg = document.querySelector('.desktopHeaderHeroImg');
                        const newHeight = findBGImageHeight(_imgWidth, _imgHeight, heroImg);

                        heroImg.style.height = `${newHeight}px`;
                        setupOverlayDiv(heroImg);
                  }
            };
            window.addEventListener('resize', () => {
                  updateHeroImage(img.width, img.height);
            });

            function findBGImageHeight(_imgWidth, _imgHeight, heroImg) {
                  let aspectRatio = _imgWidth / _imgHeight;

                  const windowWidth = window.innerWidth;
                  const windowHeight = window.innerHeight;

                  let newHeight = Math.floor(windowWidth / aspectRatio);

                  return newHeight;
            }

            function setupOverlayDiv(heroImg) {
                  if (heroImg.querySelector('.overlayDiv')) {
                        heroImg
                              .querySelector('.overlayDiv')
                              .remove();
                  }
                  const overlayDiv = document.createElement('div');
                  overlayDiv
                        .classList
                        .add('overlayDiv');
                  overlayDiv.style.position = 'absolute';
                  overlayDiv.style.top = '0';
                  overlayDiv.style.left = '0';
                  overlayDiv.style.width = '100%';
                  overlayDiv.style.height = '100%';
                  overlayDiv.style.zIndex = '0'; // Ensure it's behind other content
                  overlayDiv.style.background = 'linear-gradient(to bottom, rgba(0, 0, 0, 0), #030b22)';
                  heroImg.appendChild(overlayDiv);
                  heroImg.style.backgroundImage = 'url({{ imgLink | url }})';
            }
      </script>
{% endmacro %}