/* 2 Column Horizontal Grid */

* {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
}

.twoColGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
  hyphens: auto;
  width: 100%;
  box-sizing: border-box;
}

.twoColGridMission {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
  hyphens: auto;
  width: 100%;
  box-sizing: border-box;
}

.threeColGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}

.galleryGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  object-fit: cover;
  object-position: center;
  gap: 0.5rem;
}

.threeSevenGrid {
  display: grid;
  grid-template-columns: 3fr 7fr;
  gap: 4.5rem;
}

.threeSevenGridMobile {
  display: grid;
  grid-template-columns: 3fr 7fr;
  gap: 4.5rem;
}

.sevenThreeGrid {
  display: grid;
  grid-template-columns: 7fr 3fr;
  gap: 5em;
}

.sevenFiveGrid {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 7fr 5fr;
  gap: 0.5rem;
}

.galleryGrid img {
  aspect-ratio: 1.8 / 1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/* Centered */
.centered {
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.alignVertCenter {
  align-items: center;
}

.awardsTickerContainer {
  overflow: hidden;
  max-width: 100vw;
}

.awardsTicker {
  box-sizing: border-box;
  display: flex;
  white-space: nowrap;
  padding: 10px 0;
  width: max-content;
  gap: 2em;
  align-items: center;
  justify-content: center;
  mix-blend-mode: screen;
}

.awardImg {
  flex: 0 0 auto;
  width: 100px;
  height: auto;
  object-fit: contain;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
