.magicTextContainer {
  position: relative;
  max-height: 200px;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
  background: none;
  width: 100%;
}

.magicTextContainer.expanded {
  max-height: 2000px;
}

.caret-button {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 10%);
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
  color: #fff;
  font-size: 24px;
}

.caret {
  display: inline-block;
  transition: transform 0.3s ease;
}

.caret-button.expanded .caret {
  transform: rotate(180deg);
}

/* Gradient to replace PNG */
.magicTextContainer::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100px;
  background: linear-gradient(transparent, #030b22);
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.magicTextContainer.expanded::after {
  opacity: 0;
}
