<div class="imageGalleryComp">
      <div class="h1_0">
            CHECK ME OUT in layouts IMAGE GALLERY
      </div>
      <div class="galleryGrid">
            {% include "layouts/galleryImg.njk" %}
            {% include "layouts/galleryImg.njk" %}
            {% include "layouts/galleryImg.njk" %}
            {% include "layouts/galleryImg.njk" %}
      </div>
</div>