<div class="bodyCopySmaller centered">A heart-stopping journey to the most inaccessible part of our planet.</div>
<div class="centered component">
    <div class="background">
        {# <video src="{{someData.home.video}}" autoplay muted loop playsinline></video> #}
        <video class="bgVideo" src="{{ someData.home[0].video | url }}" muted loop playsinline autoplay></video>
    </div>
    <div class="foreground" id="featuredFilmForeground">
        <div id="featuredFilmInfo">
            {# <div class="mediaType">FILM</div> #}
            <div  class="compSubtitle vertGap0">Deep Rising</div>
        </div>
        <img src="/assets/images/sundance.png">
    </div>
</div>
<div class="vertGap0"></div>
{{smartTextBox("The deep ocean is the largest living space on Earth. It harbors millions of undiscovered species and stores 80% of the carbon on Earth—and it is under siege by pro-mining nations that want to exploit it  for precious metals. Deep Rising, a new film narrated by Jason Momoa, exposes the corruption of those racing to mine this fragile ecosystem and follows the passionate activists, scientists, and politicians fighting to protect our planet's final frontier. \n \n We can still stop the destruction of our planet's last pristine wilderness. The seabed is humanity’s birthright, not a resource for the profit of just a few. Join the world's largest ocean dispute now.")}}
<div class="vertGap0"></div>
<button class="ctaButton vertGap1">
    <a href="https://deeprising.com/documentary/" target="_blank" >VISIT WEBSITE</a>
</button>