<div class="centered component">
  <div class="background">
    <div class="gradImage">
      <img src="/assets/images/sylviaEarle.png" alt="Sylvia Earle">
    </div>
  </div>
  <div class="foreground" id="featuredFilmForeground">
    <div id="featuredFilmInfo">
      <div  class="compSubtitle vertGap0 ">Mission Blue</div>
    </div>
  </div>
</div>
<div class="vertGap0"></div>
<div class="bodyCopySmaller centered">Founded by world renowned oceanographer, Sylvia Earle, Mission Blue ignites public support for a network of marine protected areas known as Hope Spots. 2025 kicks of a world tour with Sylvia—'Her Deepness'—sharing her invaluable knowledge and passion for exploring and protecting the ocean with future generations. Stay tuned for more.</div>
<button class="ctaButton vertGap1 ">
  <a  href="/films/mission-blue/" target="_blank" >
                LEARN MORE
            </a>
</button>