<div class="margin0LR" id="mission">
  <div id="missionBackground">

    <video src="{{ someData.home[0].missionVideo | url }}" muted loop playsinline autoplay controls="false"></video>
  </div>
  <div id="missionForeground" class="padding1LR ">
    <div>
      <div class="serifSubtitle" id="missionTitle">OUR<br>MISSION</div>
      <div class="serifSubtitle_spaceBelow"></div>
      <div class="bodyCopyBigger" id="missionCopy">Code Blue Foundation is a private charitable foundation supporting innovative projects that promote protection, restoration and resilience of critical ocean exosystems and climate stability. <br><br> We also support media projects which raise awareness of the importance of these essential natural systems which support all life on the planet.</div>
      <div class="vSpacer0"></div>
      <div class="horizontalButtonWrapper">
        <button class="ctaButton">
          <a href="/pages/story" >
                        ABOUT US
                    </a>
        </button>
        <button class="ctaButton">
          <a href="mailto:bonjour@codebluefoundation.org">CONTACT</a>
        </button>
      </div>
    </div>
    <div class="missionRight"></div>
  </div>
</div>