<div class="fullHeightWidthPurpose" id="purpose">
  <div class="foreground">
    <div></div>
    <div>
      <div class="centerType" id="purposeStatement">Protection and restoration of our<span class="_blue" > blue planet </span>through innovative projects and strategic alliances.</div>
    </div>
    <div></div>
  </div>
</div>