.granteeRight {
  display: flex;
  flex-direction: column;
  align-items: left;
  /* height: 100%; */
  justify-content: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  box-sizing: border-box;
}

.granteeLeft {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
