#footer {
  position: relative;
  display: flex;
  width: auto;
  /* min-width: 40%; */
  min-height: 60vh;
  bottom: 0;
  flex-direction: row;
  background-image: url("/assets/images/footerBG.png");
  background-color: #030b22;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: auto;
  padding: 2.5rem;
}

#mobileFooter {
  display: none;
}

#footer #wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
}

#footerLeftCenter {
  flex-direction: column;
  flex-shrink: 1;
  width: 55%;
}
#footerLeftCenterTop {
  flex-shrink: 2;
  /* height: 10vh; */
}
#footerLeftCenterBottom {
  flex-direction: row;
}
#footerLeft {
  flex-grow: 1;
  justify-content: flex-start;
}

#footerLeft img {
  width: 30%;
}

#footerCenter {
  justify-content: flex-start;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-wrap: wrap;
  gap: 2rem;
}
#footerRight {
  flex-grow: 1;
  position: relative;
  /* background-color: red; */
  padding-bottom: 2.5rem !important;
  transform: translate3d(0, 0, 0);
  /* mix-blend-mode: screen; */
}

.footerFishContainer {
  mix-blend-mode: screen !important;
}

#footerRight img {
  padding-left: 10%;
  /* mix-blend-mode: hard-light; */
  /* transform: translate3d(0, 0, 0); */
  position: absolute;
  top: 0;
  left: 0;
  width: 60%;
}
#footerRightCopy {
  text-align: right;
}

.textAlignLeft {
  text-align: left;
}

.footerChild {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

#footerLeftChildTop {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

#footerLeftChildBottom {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

#footerCenterChildBottom {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0px;
  margin-bottom: 20%;
  gap: 1em;
}

#footerCenterChildBottom * {
  padding: 0px;
  margin: 0px;
  text-align: left;
  white-space: nowrap;
}

.noTextWrapList {
  text-wrap: nowrap;
  white-space: nowrap;
}
