#pageLoadingScreen {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  background: radial-gradient(#0b1a4a, #1a2a4b);
}

video::-webkit-media-controls {
  display: none !important;
}

video::-webkit-media-controls-fullscreen-button {
  display: none !important;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 0.5rem;
}

.myVideo {
  object-fit: cover;
}

.imgFullW {
  width: 100%;
}

[data-src] {
  opacity: 0;
}

.frame {
  border-radius: var(--borderRadius);
  min-height: 66vh;
  height: 100%;
  width: 100%;
}

.responsive-iframe {
  border-radius: 15px;
  position: relative;
  padding-bottom: 50%; /* 16:9 aspect ratio */
  overflow: hidden;
}
.responsive-iframe iframe {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

* {
  box-sizing: border-box;
}

.carouselTitle {
  display: block;
  text-align: center;
}

.carousel {
  position: relative;
  width: 100%;
  margin: 50px auto;
  overflow: hidden;
  /* border: 2px solid #ccc; */
  border-radius: 10px;
}

.slides {
  display: flex;
  width: 100%;
}

.slides .carouselSlide {
  width: 100%;
  flex-shrink: 0;
  user-select: none;
}

.slideLeft {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: var(--borderRadius);
}

.slideRight {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.controls {
  display: flex;
  width: auto;
  justify-content: space-between;
}

button.prev,
button.next {
  color: black;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: transparent;
  border: none;
  width: 50px;
  height: 50px;
  z-index: 2;
}

button.prev:hover,
button.next:hover {
  cursor: pointer;
}

button.prev span,
button.next span {
  display: none;
}

button.prev {
  background-image: url("/assets/icons/arrowLeft.svg");
}
button.next {
  background-image: url("/assets/icons/arrowRight.svg");
}

.gradImage::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  background: linear-gradient(transparent, #030b22);
}
