#splash {
  width: 100%;
  height: 100vh !important;
  z-index: 7;
  pointer-events: none;
}

#splash video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: fixed;
}

#tideCanvas {
  /* position: absolute; */
  position: relative;
  z-index: 1;
  width: 100vw;
  height: 100%;
  max-height: 32vh;
}

#splashForeground {
  position: absolute;
  z-index: 1;
  gap: 1rem;
  color: white;

  width: 100%;
  height: 100%;
}

#splashSVG {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

#splashCTA {
  display: none;
  opacity: 0;
  pointer-events: auto;
}

.arrowCTA {
  position: absolute;
  z-index: 3;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.spinCTASplash {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-top: 1%;
  padding-bottom: 1%;
}

.arrowCTA #downArrow {
  animation: oscillate 2s ease-in-out infinite;
}

#upArrow {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation: oscillate2 2s ease-in-out infinite;
}

@keyframes oscillate2 {
  0%,
  100% {
    transform: translateY(-6px);
  }
  50% {
    transform: translateY(-10px);
  }
}

@keyframes oscillate {
  0%,
  100% {
    transform: translateY(6px);
  }
  50% {
    transform: translateY(10px);
  }
}

.pageLoadingScreenContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

#loadingScreen {
  /* overflow: hidden; */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(#0b1a4a, #1a2a4b);
  z-index: 5;
}

#loadingScreen img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20%;
  height: auto;
}

#loadingScreen p {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

#lottieCanvas {
  transform: scale(0.9);
}

#splashVideo {
  width: 100%;
  height: 100%;
  background-image: url("http://codebluefoundation.org/wp-content/themes/code_blue/_video/video.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* pointer-events: none; */
}

#splashImage {
  width: 100%;
  height: 100%;
  /* pointer-events: none; */
  /* background-image: url("http://codebluefoundation.org/wp-content/themes/code_blue/_video/video.jpg"); */
  /* background-size: cover; */
  /* background-position: center; */
  /* background-repeat: no-repeat; */
}

.splineViewer {
  width: 100vw;
  overflow: hidden;
  position: absolute;
  height: 100vh;
  padding: 10%;
  opacity: 0;
}
/*  */
/* #splineViewer * { */
/* box-sizing: border-box; */
/* width: 100% !important; */
/* height: 100% !important; */
/* } */
/*  */

.spinningText {
  opacity: 0.5;
}

#percentLoaded {
}
