/* @media (max-width: 1200px) {
  .carouselSlide.sevenFiveGrid {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
  }
}

@media (max-width: 950px) {
  .carouselSlide.sevenFiveGrid {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 0.5rem;
  }
} */
